<app-button></app-button>

<p>{{title}} en Angular</p>
<p> La suma de 5+5 es:{{5+5}}</p>
<img src="{{url}}" alt="">

<p *ngIf="name" >El nombre es: {{name}} </p>
<input type="text" [(ngModel)]="name">

<ul *ngFor="let number of [0,1,2]" >
  <li>{{number}}</li>
</ul>

<!--string-->
<ul *ngFor="let city of cities" >
  <li [ngClass]="'selected blue'">{{city}}</li>
</ul>

<!--string[]-->
<ul *ngFor="let city of cities" >
  <li [ngClass]="['selected', 'pink']">{{city}}</li>
</ul>

<!--object-->
<ul *ngFor="let city of cities" >
  <li [ngClass]="{'selected':city === 'Lima', 'black':true }">{{city}}</li>
</ul>

<!--ngStyle-->
<ul *ngFor="let city of cities" >
  <li [ngStyle]="{'color':'white','background-color': city==='Madrid' ? 'blue': 'purple'}">{{city}}</li>
</ul>