.selected{
    background-color: red;
    color: white;
    padding: 10px;
}

.onSelected{
    background-color: white;
    padding: 10px;
}

.blue{
    color: blue;
}

.pink{
    color: pink;
}

.black{
    color: black;
}